/* Enter your custom styles here */

.sapMBtnInner {
    height: 2rem !important;
  }
  
  .sapUiLoSplitter .sapUiLoSplitterContent{
    overflow: hidden;
  }

  .scrollableHbox {
    overflow-y: hidden; /* Enable horizontal scrolling */
    overflow-x: scroll; /* Enable horizontal scrolling */
}

.size1 {
	font-size : 1.5rem;
}
